* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #d71337;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffd700;
}

.nav-links li a.active {
    color: #ffd700;
    font-weight: bold;
}

.hero {
    background-image: url('img/gambar1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 6rem 2rem;
    text-align: center;
    margin-top: 10px;
}

.hero h2 {
    color: #34373b;
    margin-bottom: 1rem;
}

.hero button {
    padding: 0.5rem 1rem;
    background-color: #232527;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #ffd700;
}

.section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.section h2 {
    color: #1e90ff;
    margin-bottom: 2rem;
}

.program-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.program-card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    width: 300px;
    text-align: left;
}

.program-card h3 {
    color: #1e90ff;
    margin-bottom: 1rem;
}

.program-card ul {
    list-style: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.program-card button {
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.program-card button:hover {
    background-color: #ffd700;
    align-items: baseline;
}

.gallery {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background-image: ("gambar1");
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
}

@media (max-width: 768px) {
    .nav-links {
        gap: 1rem;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .program-card {
        width: 100%;
        max-width: 300px;
    }

    .gallery img {
        width: 100%;
        max-width: 300px;
    }
}